*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 80px;
    height: 80px;
}

header .container{
    margin-right: 1%;
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header .container .link-container{
    text-decoration: none;
    color: black;
}

header .container .link-container .box{
    display: flex;
    flex-direction: row-reverse;
    transition: 0.3s ease;
}


header .container .link-container .box svg{
    width: 30px;
    height: 30px;
    stroke: black;
}

header .container .link-container .box:hover{
    fill: red;
    color: red;
    stroke: red;
}

header .container .link-container .box div{
    height: 30px;
    width: 150px;
    font-size: 20px;
    /* text-align: center; */
    margin-right: 20px;
}

header .container .link-container:nth-child(3) .box div{
    width: 220px;
}